Package: com.idkwhotomis.earthpaperobjc
Name: earthpaper
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Tom
Author: Tom
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
